
<div class="d-flex justify-content-between align-items-center">
<h1><%= @task.title %></h1>
<%= link_to edit_task_path(@task), class: "btn btn-outline-secondary" do %>
  <%= fa_icon "pen", text: "Edit this task" %>
<% end %>
</div>

<div class="alert alert-secondary" role="alert">
  <%= @task.details %>
</div>
<% if @task.completed %>
  <i class="far fa-check-square"></i> This task is completed
<% else %>
  <i class="far fa-square"></i> This task in not completed yet
<% end %>
<hr>

<%= link_to tasks_path do %>
  <%= fa_icon "undo", text: "Back to list" %>
<% end %>
